/*header{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    position: sticky;*/
/*    background-color: transparent;*/
/*}*/
header img{
    width: 150px;
    max-width: 100%;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
}
header {
    background-color: black;
}
.link {
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
    border:2px solid black;
    background-color: darkgrey;
    color:deeppink;
    font-weight: bold;

}