body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 900px;
  margin: 0 auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  row-gap: 15px;
}
.movie-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.col-3{
  width: 25%;
  margin: 15px;
}
.swiper{
  width: 100%;
  height: 100%;
}
.swiper-slade {
  background-position: center;
  background-size: cover;
}
.swiper-slade img{
  display: block;
  width: 100%;
}
h3,p,h2,h1 {
  color: deeppink;
}
button{
  padding: 5px 8px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  margin: 5px;
}
.inner{
  display: flex;
  justify-content: space-between;
}
.btn-inner{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}
img{
  width: 100%;
}
.col-4{
  width: 33.33%;
  padding: 15px;
}
.col-8{
  width: 66.66%;
  padding: 15px;
}

input{
  padding: 5px 8px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  margin: 5px;
}
